*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#baner{
    background-color: #62AFFF;
    height: 80px;
    font-size: 120%;
    text-align: center;
    float: left;
    width: 100%;
}

#lewy{
    background-color: #44D6E8;
    height: 450px;
    width: 30%;
    font-size: 120%;
    float: left;
}

#srodkowy{
    height: 450px;
    width: 40%;
    text-align: center;
    float: left;
}

#prawy{
    background-color: #44D6E8;
    height: 450px;
    width: 30%;
    font-size: 120%;
    text-align: center;
    float: left;
}

footer{
    background-color: #62AFFF;
    height: 50px;
    text-align: center;
    float: left;
    width: 100%;
}

table{
    margin-left: 50px;
    border-spacing: 0;
}

td{
    border: solid 1px yellow;
    padding: 20px;
    text-align: center;
    font-size: 120%;
}

tr:hover{
    color: yellow;
}

img{
    margin-top: 100px;
    float: left;
}
h3{
    margin-top: 100px;
}
#in{
    margin-top: 10px;
}